* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 2rem 0;
    padding-left: 5%;
    padding-right: 2%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 4.3rem;
    margin: .5rem;
}

.faBars {
    display: none;
    cursor: pointer;
    width: 50px;
    height: 40px;   
}
.faBars svg {
    border: 1px solid lightgray; 
    border-radius: 5px; 
}
 
.navLinks ul {
   display: flex;  
   align-items: center;
}
.navLinks ul li {
    list-style: none;
    display: inline-block;
    padding: 0.4rem 0.8rem;
}
.navLinks ul li a {
    color: #0a0a0a;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.navLinks ul li.contactUs::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #0a0a0a;
    display: block;
    margin: auto;   
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-left h1 {
    font-size: 2rem;
    font-weight: 600; 
    padding-left: 1rem;    
}

html {
    background-image: url(tools_black.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.container {
    width: 100%;      
    padding: 3% 10%;     
}
body {
    height: 100%;
}
.wrapper {
    min-height: 100%;    
}  
footer {
    background-color: #777;
    padding: 8px 0;    
} 
.containerBottom {
    width: 100%;
    margin: 0;    
    background-color: #777;    
    color: #ffffff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.containerBottom a {
    color: #0a0a0a;
    text-decoration: none;
    color: #ffffff;
}
.containerBottom a::after {
    content: "";
    width: 0%;
    height: 1px;
    transition: 1s;
    background: #ffffff;
    display: block;
    margin: auto;
}
.containerBottom a:hover:after {
    width: 100%;
}
.transbox  {
    background-color: #ffffff;    
    position: relative;
    padding: 5%;    
}
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28.125rem, 1fr));
    grid-gap: 30px;
    font-size: 1.25rem;
}
.getInTouch  {    
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.number {
    display: flex;    
}
.number i {
    padding-right: 1rem;
}
.phone p {
    padding-left: 2.2rem;    
}
.phone a {
    color: #0a0a0a;
}
.number p{    
    padding-left: 0 !important;
}
.facebook {
   
    display: flex;   
}
.facebook i {
    color: #1877F2;
    padding-right: 1rem; 
}
.facebook p {
    text-decoration: underline; 
    color: #1877F2;

}
.colAddress > div{
    padding-bottom: 2rem;
}
.email a {
    color: #0a0a0a;
}
.email i {
    padding-right: 1rem;    
}
.licence {
    display: flex;
}
.licence i {
    padding-right: 1rem;
}
.photo img{
    width: 100%;
}

.photo {
    filter: grayscale(100%);    
}
.photo:hover {
    filter: grayscale(0%);
    transition: filter 1s;
}





/* ----------------------------------------------------------------media------------------------------------------------------------ */
@media only screen and (max-width: 1763px) {
    .row {
        grid-template-columns: repeat(auto-fit, minmax(31.25rem, 1fr)); 
        display: inline-block;       
    }
    .navLinks ul {
        position: absolute;
        top: 7.7rem;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
        display: inline-block;
        text-align: right;
    }
    .navLinks ul li {
        display: block;
        padding-right: 1.5rem;
        margin-top: .6rem;
        margin-bottom: .6rem;
    }
    .navLinks ul li a {
        color: #ffffff;
        font-size: 1rem;
    }
    .faBars {
        display: block;        
    } 
    nav {
        padding: 1rem 1rem 1.2rem;
    } 
    .navLinks ul li.contactUs::after {
        display: none;
    }      
}
@media screen and (max-width: 912px) {    
    
    .getInTouch p b {
        font-size: 1.25rem;
    }     
}

@media screen and (max-width: 678px) {
    .nav-left h1 {
        font-size: 1.5rem;
    }
    
}
@media only screen and (max-width: 420px) {
    .getInTouch p b {
        font-size: 1rem;
    } 
}


@media (max-width: 394px) {

    nav {
        padding: 1rem 1rem 1.2rem;            
    }   
    .logo {
        margin: .5rem;
        width: 3rem;
    }
    .nav-left h1 {
        font-size: 1.2rem !important;        
    }   
    .main-content h3 {
        line-height: 2;
    } 
    .col p {
        font-size: 1rem;
    }
    .col a {
        font-size: 1rem;
    }
    .getInTouch {
        margin-bottom: 2rem;
    }
    .row {
        grid-gap: .1px;
        padding: 5%;        
        font-size: 1rem;
    }    
    .photo img {
        width: 89%;
    }
    .navLinks ul {
        top: 6.3rem;
    }
    .navLinks ul li a {
        font-size: 1rem;
    }
    .facebook {
        align-items: center;
    }
    .facebook i {
        padding-right: 0.7rem;
    }
    .number i {
        padding-right: 0.7rem;
    }
    .phone p {
        padding-left: 1.8rem;
    }
    .email i {
        padding-right: 0.3rem;
    }
    .licence i {
        padding-right: 0.7rem;
    }
    .navLinks ul {
        top: 6.3rem;
    }
    .container {
        padding: 3% 7%;
    }
}








@media (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {
    .nav-left h1 {
        font-size: 1.25rem;
    } 
    .nav-left .logo {
        width: 3rem;
    }
    nav {
        padding: 0.5rem 1rem 0.5rem;
    }
    .col p {
        font-size: 1rem;
    }
    .navLinks ul {
        top: 5.1rem;
    }
}
