* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html {
    background-image: url(tools_black.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 100%;      
}
.container {
    width: 100%;      
    padding: 3% 10%;        
}
body {
    height: 100%;
}
.wrapper {
    min-height: 100%;    
} 
footer {
    background-color: #777;
    padding: 8px 0;    
} 
.transbox  {
    background-color: #ffffff;    
    height: 100%;
    position: relative;       
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 2rem 0;
    padding-left: 5%;
    padding-right: 2%;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo {
    width: 4.3rem;
    margin: .5rem;
}
.faBars {
    display: none;
    cursor: pointer;
    width: 50px;
    height: 40px;   
}
.faBars svg {
    border: 1px solid lightgray; 
    border-radius: 5px; 
}
.navLinks ul {
   display: flex;  
   align-items: center;
}
.navLinks ul li {
    list-style: none;
    display: inline-block;
    padding: 0.4rem 0.8rem;
}
.navLinks ul li a {
    color: #0a0a0a;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}
.navLinks ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #0a0a0a;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navLinks ul li:hover:after {
    width: 100%;
}
.navLinks ul .reviews:after {
    content: "";
    height: 2px;
    background: #0a0a0a;
    display: block;
    margin: auto;
    transition: 0.5s;
    width: 100%;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-left h1 {
    font-size: 2rem;
    font-weight: 600; 
    padding-left: 1rem;    
}
.transbox  {
    background-color: #ffffff;    
    width: 100%;
    overflow: auto;
    position: relative;
    padding: 5%;
}
.row {
    height: 100%;
    padding: 0 5% 5%;  
    display: flex;    
    flex-wrap: wrap;
    margin: 0;
    padding: 30px 0;      
}
.review {     
    text-align: center;
    background: #ffffff; 
    padding: 12px; 
    overflow-y: auto;
}
.col {
    border: 1px solid rgb(170, 169, 169);
    padding: 15px;
    box-shadow: 0 10px 10px 10px rgb(199, 196, 196);
    border-radius: 15px; 
    width: 600px; 
    margin: 50px 30px; 
}

.containerBottom {
    width: 100%;
    margin: 0;    
    background-color: #777;    
    color: #ffffff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.containerBottom a {
    color: #0a0a0a;
    text-decoration: none;
    color: #ffffff;
}
.containerBottom a::after {
    content: "";
    width: 0%;
    height: 1px;
    transition: 1s;
    background: #ffffff;
    display: block;
    margin: auto;
}
.containerBottom a:hover:after {
    width: 100%;
}

/* ----------------------------------------------------------------media------------------------------------------------------------ */
@media only screen and (max-width: 2560px) {
    .row {
        justify-content: space-around;
    }
}




@media screen and (max-width: 1763px) {
    nav {
        padding: 1rem 1rem 1.2rem;
    }
    .navLinks ul {
        position: absolute;
        top: 7.7rem;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
        display: inline-block;
        text-align: right;
    }
    .navLinks ul li {
        display: block;
        padding-right: 1.5rem;
        margin-top: .6rem;
        margin-bottom: .6rem;
    }
    .navLinks ul li a {
        color: #ffffff;
        font-size: 1rem;
    }
    .faBars {
        display: block;               
    }  
    .frame {
        align-items: center;        
    }
    .navLinks ul li::after {
        display: none !important;
    }
    .container {
        height: 100%;
    }
    .row {
        height: 100%;
        padding: 0 5% 5%;        
    }
    .transbox {
        height: 100%;
    }
}


@media only screen and (max-width: 1290px) {
    .row {
        font-size: 1rem;
    }
    .col {
        margin: 50px 0;
    }
}


@media screen and (max-width: 918px) {
    .col iframe {
        width: 350px !important;
    }
    .col {
        width: 400px;
    }    
}
@media screen and (max-width: 678px) {
    .nav-left h1 {
        text-align: center;
        padding: 0 1rem;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 605px) {
    .col iframe {
        width: 300px !important;
    }
    .col {
       width: 350px;
    }   
}
@media screen and (max-width: 600px) {
    nav {
        padding: 0;
        padding-left: 5%;
        padding-right: 2%;
    }
    .navLinks ul {
        top: 5.5rem;
    }
}
@media screen and (max-width: 530px) {
    
    .container {
        padding: 3% 5%;
    }
}
@media screen and (max-width: 475px) {
    .col iframe {
        width: 250px !important;
    }
    .col {
       width: 300px;
    }
}
@media screen and (max-width: 440px) {   
    .transbox h3 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 404px) {
    .row {
        padding: 0;
    }
}
@media screen and (max-width: 360px) {
    .nav-left h1 {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 365px) {
    .col iframe {
        width: 230px !important;
    }
    .col {
       width: 280px;
    }
}


@media (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {
    .container {
        height: 100%;
    }
    .transbox {
        height: 100%;
    }   
    .statusFull {       
        bottom: 0;    
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        padding: 10px;
        border: 0.5px solid #3d3d3d;
    }
    .nav-left h1 {
        font-size: 1.25rem;
    } 
    .nav-left .logo {
        width: 3rem;
    }
    nav {
        padding: 0.5rem 1rem 0.5rem;
    }
    .navLinks ul {
        top: 5.1rem;
    }
}


